* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* * Background Color */
  --bg-primary-color: #0d0d0d;

  /* *Text Color */
  --text-primary-color: #fffbfb;

  /* * Spacing Variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main,
section {
  height: 100%;
  width: 100%;
}

section {
  padding: 40px;
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
